---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Attend the Festival";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">

        <h1>{pageTitle}</h1>
        
        <b>Sussex County Maker Festival is free to attend and welcomes all ages.</b>

        <p>TODO: Image gallery</p>
        
        <p>Maker Faire has a little for everyone, from hayrides and pumpkin picking to Power Racing Series events, combat robotics, and various exhibitions.  We encourage families, clubs and organizations to attend.  Food is available for purchase onsite as well as baked goods and local favorites.</p>
        
        <h2>Got Questions?</h2>

        <a href="mailto:Ideal.Farms.Makers@protonmail.com" class="btn btn-primary">Email us: Ideal.Farms.Makers@protonmail.com</a>

        <p>If you'd rather call us, we're available at 973-579-3893 every day between 9 AM and 5 PM. Ask for Ben or Lindsey when you call.</p>
    </article>
</Layout>

