---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Become a Sponsor";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">

        <h1>{pageTitle}</h1>
        
        <p>Sponsors help us keep Maker Faire Sussex County accessible for everybody, and we always welcome new sponsors! If you or your business are looking to become a part of this fun and educational community event please fill out the form below the graphic.</p>
        
        <p>If you have questions or want to speak with us, please reach out to us at <a href="mailto:ideal.farms.makers@protonmail.com">ideal.farms.makers@protonmail.com</a>.</p>
        
        <p>TODO: INSERT SPONSOR INFO</p>
    </article>

</Layout>