---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Call for Volunteers";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">
        <h1>{pageTitle}</h1>

        <p>
            This event couldn't happen without our volunteers. While entry is
            free for everyone, we pride ourselves on having wonderful food for
            our volunteers.
        </p>

        <p>TODO: INSERT IMAGES</p>

        <div style="position: relative; height:80dvh; overflow:auto;">
            <iframe
                src="https://app.formbricks.com/s/cmqx0nszl7km001xloky671np?embed=true"
                frameborder="0"
                style="position: absolute; left:0; top:0; width:100%; height:100%; border:0;"
            >
            </iframe>
        </div>
    </article>
</Layout>
