---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Call for Exhibitors";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">
        <h1>{pageTitle}</h1>

        <b>We're looking for exhibitors for 2026</b>

        <p>
            Join us on DATE for Sussex County Maker Festival. Our mission is to bring together makers, vendors, and exhibitors of all ages for a weekend of demonstrations, participation, and fun.
        </p>

        <p>
            The two day event will include custom-built <a href="http://powerracingseries.org/">Power Racing Series</a> car races, <a href="https://gscrl.org/">robot battles</a>, talks from field experts ranging from agriculture to biodiesel, and more.
        </p>

        <p>
            We'd love for you or your organization to become a part of Sussex County Maker Festival. Agricultural speakers, crafters and makers, and STEM clubs are encouraged to participate. At Sussex County Maker Festival, we encourage new and different participants to join us. If you don't see your field mentioned in past events, fill out our Call for Exhibitors form and be the first!
        </p>

        <p>
            Registration is free for exhibitors and educators, but there is a $50/day fee for vendors. If you're interested in both vending and exhibiting, please <a href="mailto:Ideal.Farms.Makers@protonmail.com">reach out</a> to discuss possible discounts or waivers.
        </p>

        <p>INSERT FORM HERE</p>
    </article>
</Layout>
