---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Contact Us";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">
        <h1>{pageTitle}</h1>

        <p>
            Thanks for your interest in Sussex County Maker Festival. Please
            reach out to us with any questions or concerns. The best way to
            contact us is by <a href="mailto:Ideal.Farms.Makers@protonmail.com"
                >email</a
            >. If you call, please be sure to ask for Ben or Lindsay.
        </p>

        <p>
            We are currently accepting applications for this year's event. We
            look forward to seeing returning particpants again and meeting new
            ones!
        </p>

        <h2>Contact Info</h2>

        <h3>Address</h3>
        <p>
            Ideal Farm and Garden Center<br />222 Route 15<br /> Lafayette, NJ 07848
        </p>
        <h3>Phone</h3>
        <p>973-579-3893</p>
        <h3>Email</h3>
        <a href="mailto:Ideal.Farms.Makers@protonmail.com"
            >Ideal.Farms.Makers@protonmail.com</a
        >

        <h2>Contact Form</h2>
        <p>Insert Contact Form Here?</p>

        <h2>About Our Team</h2>
        <p>Insert info about the organizers here?</p>
    </article>
</Layout>
