---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Home";

---

<Layout pageTitle={pageTitle}>
	<article class="prose lg:prose-xl">
		<h1>{pageTitle}</h1>

		<p>
			Sussex County Maker Festival is your place to go in Sussex County
			for a chance to share your projects, meet other curious, creative
			people, and watch the Garden State Combat Robotics League and Power
			Racing Series as they compete throughout the weekend.
		</p>

		<p>
			While you're here, check out our hosts, Ideal Farm and Garden
			Center, and take your family to enjoy their fall and Halloween
			activities!
		</p>

		<p>TODO: Call for Exhibitors and Sponsors</p>

		<p>TODO: Call for Volunteers</p>

		<p>TODO: Where to get involved before the event</p>

		<p>TODO: Image gallery</p>
	</article>
</Layout>
