---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Our Exhibitors";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">

        <h1>{pageTitle}</h1>
        
        <p>SHOW OFF THE SPONSORS</p>
        
        <p>LINK TO SPONSOR SIGN-UP</p>
    </article>

</Layout>