---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Updates";
---

<Layout pageTitle={pageTitle}>
    <article class="prose lg:prose-xl">
        <h1>{pageTitle}</h1>

        <p>
            We can probably skip this, although it might be good to work on posting more often
        </p>
    </article>
</Layout>
