@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

@plugin "daisyui/theme" {
  name: "BlueGold";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(70% 0.015 286.067);
  --color-base-content: oklch(14% 0.005 285.823);
  --color-primary: hsl(215, 99%, 49%);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: hsl(217, 87%, 20%);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: hsl(24, 96%, 57%);
  --color-accent-content: oklch(14% 0.005 285.823);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "BlueGold2";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: hsl(217, 87%, 5%);
  --color-base-200: hsl(217, 87%, 8%);
  --color-base-300: hsl(217, 87%, 11%);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: hsl(215, 99%, 49%);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: hsl(217, 87%, 20%);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: hsl(24, 96%, 57%);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
